*{
  box-sizing: border-box;
  font-family: 'PT Serif', serif !important;
}

body{
    background: linear-gradient(to right,rgb(199, 11, 11) , white);
    box-sizing: inherit;
}

.game-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    /* height: 350px;     */
}

.board-section{   
    width: 100%;
    height: 100%;        
}

.square{
    float: left;
    width: 25%;
    height: 80px;
    border: 1px solid brown;

}

.squareBtn, .squareBtn:active, .squareBtn:visited{
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #fff; 
    border: none;
    font-size: 21px;
    color: white;
}

.squareBtn-active{
    color: rgb(199, 11, 11);
}

.squareBtn-completed{
    background-color: rgb(168, 248, 175); 
    color: black;
    font-size: 22px;
}

.result-section{
    width: 100%;
    height: 100%; 

    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 22px;
    color: black;
    font-weight: bold;     
}

.score-section{
    text-align: right;
    font-style: italic;
    font-size: 22px;
}

.score{
    color: #29a810;
}

.reset-btn{
    padding: 13px;
    margin-top: 20px;
    font-size: 16px;
    background-color: #29a810;
    border: 1px solid black;
    color: white;
    box-shadow: 6px 6px 5px grey;
    cursor: pointer;
    transition: all .35s
}

.reset-btn:hover{    
    box-shadow: 6px 6px 5px rgb(37, 37, 37);
}

.won-msg{display: block;}
